/* #user1 {
    margin-left: 50px;
}

#user {
    margin-right: 30px;
    margin-bottom: 10px;
} */

/* #grado {
    margin-left: 30px;
} */

/* #robot-profile {
    width: 185%;
    margin-left: -845px;
} */
    
/* #mini{
    margin-left: 30px;
    width: 40px;
    height: 80px;
} */

#redes {
    display: flex;
    margin: auto;
    width: 60%;
    /* max-width: 100%; */
    margin-top: 100px;
    margin-bottom: 130px;
}

#column-redes {
    margin: 20px;
    padding: 10px;
}

/* .buttons {
    margin-bottom: 10px;
}

#strong {
    margin: 15px;
}

.buttons a {
    margin: 10px;
} */

/* .footer {
    background-color: #030C2A;
    color: white;
}

#icons i{
    margin-top: 50px;
}

#icons a{
    margin: 60px;
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
}

#icons a:hover {
    color: aquamarine;
} */

/* @media(max-width: 1080px){

} */
/* @media(max-width:775px){
    #redes{
        width: 100%;
    }
}

@media(max-width:575px){
    #redes{
        width: 70%;
    }
} */
@media (max-width: 575px) {
    #redes {
      width: 70px;
    }
  }
  
  @media (max-width: 400px) {
    #redes {
      width: 100%;
    }
    #button button {
        margin: 20px;
    }
  }
  