.footer{
    background-color: #030C2A;
    height: 20vh;
    margin-top: 8.3vh;
}

#icons-container{
    height: 5vh;
    background-color:#030C2A;
}

#text-container{
    background-color: #030C2A;
}

#icon-facebook{
    color: rgb(255, 255, 255);
    font-size: 3em;
    margin: 4vh; 
}

#icon-twitter{
    color: rgb(255, 255, 255);
    font-size: 3em;
    margin: 4vh;  
}

#icon-google{
    color: rgb(255, 255, 255);
    font-size: 3em;
    margin: 4vh;  
}