*{
    margin: 0;
    padding: 0;
}

.navSearch{
    background-color: #030c2a00;
}

.control {
    height: 60px;
    width: 98%;
    margin: 0 auto;
    background-color: #bacf0100;
    border-radius: 20px;
    padding: 1vh;
    margin: 1vh;
    
}

#input-search{
    width: 50vh;
}

h1{
    float: left;
    color: black;
    margin-top:10px;
    margin-left: 75px;
    top: 8px;
    left:5%;
}


#bell-icon,
#user-icon{
    float: right;
    margin-left: 5vh;
    margin-top: 1vh;
    font-size: 25px;
    color: black;
}

#search-icon{
    margin-top: 1.3vh;
    font-size: 20px;
    color: black;
}


@media(max-width:312px){
    #bell-icon{
        display: none;
    }
}

@media (max-width: 340px){
    #input-search{
        width: 5vh;
        float: left;
        margin-left: 1vh;
    }
    #search-icon{
        display: none;
    }
}

@media (max-width: 490px){
    #search-icon{
        color: rgba(255, 245, 238, 0);
    }
}

@media (max-width: 870px){
    h1{
        margin-left: 10px;
    }
    #input-search{
        width: 11vh;
        float: left;
        margin-left: 1vh;
    }
    #search-icon{
        float: left;
        margin-left: 1vh;
    }
    
}

@media (max-width: 1024px){
    h1{
        margin-left: 10px;
    }
}





