/*Estilos componente principal*/
.columns{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-top: 2vh;
    margin-left: 3vh;
    margin-right: 3vh;
}
#container1{
    background-color: rgb(204, 204, 204);
    color: black;
    margin-top: 2vh;
    margin-left: 3vh;
    margin-right: 3vh;
}
#container2{
    background-color: rgb(163, 66, 66);
    color: rgb(0, 0, 0);
    margin-right: 1vh;
}
#container3{
    color: rgb(0, 0, 0);
    background-color: rgb(121, 96, 78);
    margin-left: 1vh;   
}
#container4{
    background-color: rgb(167, 167, 167);
    color: black;
    margin-top: 2vh;
    margin-left: 3vh;
    margin-right: 3vh;
}
@media (max-width: 770px){
   #container2{
       margin-right: 0;
   }
   #container3{
       margin-left: 0;
       margin-top: 2vh;
    }
}